<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <!--TODO:  please change Server to your local sql server instance-->
    <add name="FamousFolksConnectionString" connectionString="Server=(local)\NI;Database=FamousFolks;Trusted_Connection=True;" />
  </connectionStrings>

  

  <log4net>
    <!-- The DebugFileAppender writes all messages to a log file-->

    <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
      <file value="FamousFolksWCFService.log" />
      <threshold value="DEBUG" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%5p [%d] - %m%n" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="DebugFileAppender" />
    </root>
  </log4net>


    <system.serviceModel>

      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
      <behaviors>
        <endpointBehaviors>
          <behavior name="webHttpEnablingBehaviour">
            <webHttp />
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="webHttpEnablingBehaviour">
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="FolksServiceLayer.FolksService" behaviorConfiguration="webHttpEnablingBehaviour">
          <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

          <endpoint address="" binding="webHttpBinding" bindingConfiguration="default" contract="FolksServiceLayer.IFolksService" behaviorConfiguration="webHttpEnablingBehaviour">
          </endpoint>
          <endpoint address="other" binding="basicHttpBinding" bindingConfiguration="default" contract="FolksServiceLayer.IFolksService">
          </endpoint>
        </service>

      </services>
      <client />
      <bindings>

        <webHttpBinding>
          <binding name="default"></binding>
        </webHttpBinding>

        <basicHttpBinding>
          <binding name="default" allowCookies="true"></binding>
        </basicHttpBinding>

      </bindings>
    </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  
</configuration>
